<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>Servidor con Express y Socket.io</title>
</head>

<body>

  <button id="send">Send to all clients connected⬆️</button>
  <button id="disconnect">Disconnect🩻</button>
  <button id="reconnect">Reconnect❤️‍🩹</button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/offline-handling.js"></script>
</body>

</html>