<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <title>Servidor con Express y Socket.io</title>
</head>

<body>
  <ul class="room" id="room1"></ul>
  <ul class="room" id="room2"></ul>
  <ul class="room" id="room3"></ul>

  <button class="connect-room1">Room 1</button>
  <button class="connect-room2">Room 2</button>
  <button class="connect-room3">Room 3</button>

  <button class="send-message">⬆️</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/rooms.js"></script>
</body>

</html>